.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 8px;
    align-items: center;
}

.pagination button:disabled {
    background-color: #d6d6d6;
    cursor: not-allowed;
}

.pagination span {
    font-size: 1em;
    color: #333;
}
