.results-list {
    width: 60%;
}

.details-section {
    width: 35%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.character-details button {
    margin-bottom: 10px;
}

.character-details img {
    border-radius: 8px;
}

.character-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}